@import "./lib/styles/card.css";
@import "./lib/styles/tags.css";
@import "./lib/styles/scrollbar.css";
@import "./lib/styles/progress.css";
/* @import "./lib/styles/github-markdown.css"; */
@import "bigger-picture/css";
/* @import url('https://fonts.cdnfonts.com/css/menlo'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html.bp-lock {
	overflow-y: unset;
}

html.dark {
	color-scheme: dark;
}

html,
body {
	scrollbar-gutter: stable;
	@apply font-primary;
	@apply min-h-screen h-full bg-background;
}

select,
input,
textarea,
button {
	@apply focus:outline-none border border-transparent;
}

#app {
	@apply flex flex-col min-h-full text-xs;
}

.overlay-no-scroll {
	@apply overflow-hidden;
}

.container {
	@apply px-4 md:px-0;
}

.flex-center {
	@apply flex items-center justify-center;
}

a.link:not([href='']) {
	@apply text-primary;
}

:global(.markdown-body) {
	/* @apply prose; */
}

.bytemd-fullscreen {
	@apply z-50;
}

.table-border {
	@apply w-full overflow-hidden rounded-xl border border-gray-200;

	table {
		@apply w-full;

		th {
			@apply font-bold;
		}

		td,
		th {
			@apply
			/* py-4 */
			border;
		}

		th {
			@apply border-t-0;
		}

		th:first-child,
		td:first-child {
			@apply border-l-0 border-t-0;
		}

		th:last-child,
		td:last-child,
		tr:last-child td {
			@apply border-b-0 border-r-0;
		}
	}
}

.table-border-base {
	@apply border;
	@apply w-full;

	th {
		@apply font-bold;
	}

	td,
	th {
		@apply
		/* py-4 */
		border;
	}

	th {
		@apply border-t-0;
	}

	th:first-child,
	td:first-child {
		@apply border-l-0 border-t-0;
	}

	th:last-child,
	td:last-child,
	tr:last-child td {
		@apply border-b-0 border-r-0;
	}
}

.boxes {
	table.groups {
		@apply pr-4 border-separate border-spacing-y-2 w-full;

		thead th {
			@apply font-bold;
		}

		tbody {
			tr {
				@apply relative z-0;

				&.box__body:after {
					@apply content-[''] absolute -z-10 -top-2 rounded-t-none left-0 border rounded w-full h-full border-neutral-500 border-t-0;
				}

				&.box:after {
					@apply content-[''] absolute -z-10 top-0 left-0 border rounded w-full h-full border-neutral-500;
				}

				&.expanded:after {
					@apply rounded-b-none border-b-0;
				}

				td {
					@apply first:rounded-l last:rounded-r;
				}
			}
		}
	}

	table.items {
		@apply w-full dark:text-white;

		tbody tr {
			@apply even:bg-zinc-100 even:dark:bg-zinc-800;
			@apply odd:bg-zinc-200 odd:dark:bg-zinc-700;
			td {
				/* @apply py-3; */
				@apply first:rounded-l last:rounded-r;
			}
		}
	}
}

/*
	FIXME LATER
	fuck you mozilla
	https://bugzilla.mozilla.org/show_bug.cgi?id=1536148#c19
*/
option {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grecaptcha-badge { 
	visibility: hidden !important;
}
