@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bigger-picture/css';
html.bp-lock {
	overflow-y: unset;
}

@import './lib/styles/vars.scss';
@import './lib/styles/card.scss';
@import './lib/styles/tags.scss';
@import './lib/styles/scrollbar.scss';
@import './lib/styles/progress.scss';

html,
body {
	@apply font-primary;
	@apply min-h-screen h-full bg-background;
}

select,
input,
textarea,
button {
	@apply focus:outline-none border border-transparent focus:border-neutral-500;
}

#app {
	@apply flex flex-col min-h-full text-xs;
}

.overlay-no-scroll {
	@apply overflow-hidden;
}

.container {
	@apply px-4 md:px-0;
}

.flex-center {
	@apply flex items-center justify-center;
}

a.link:not([href='']) {
	@apply text-primary;
}

:global(.markdown-body) {
	@apply prose;
}

.bytemd-fullscreen {
	@apply z-50;
}

.table-border {
	@apply w-full overflow-hidden rounded-xl border border-gray-200;

	table {
		@apply w-full;

		th {
			@apply font-bold;
		}

		td,
		th {
			@apply px-4 border;
		}

		th {
			@apply border-t-0;
		}

		th:first-child,
		td:first-child {
			@apply border-l-0 border-t-0;
		}

		th:last-child,
		td:last-child,
		tr:last-child td {
			@apply border-b-0 border-r-0;
		}
	}
}

.boxes {
	table.groups {
		@apply pr-4 border-separate border-spacing-y-2 w-full;

		thead th {
			@apply font-bold;
		}

		tbody {
			tr {
				@apply relative z-0;

				&.box__body:after {
					@apply content-[''] absolute -z-10 -top-2 rounded-t-none left-0 border rounded w-full h-full border-neutral-500 border-t-0;
				}

				&.box:after {
					@apply content-[''] absolute -z-10 top-0 left-0 border rounded w-full h-full border-neutral-500;
				}

				&.expanded:after {
					@apply rounded-b-none border-b-0;
				}

				td {
					@apply p-4 py-4 rounded;
				}
			}
		}
	}

	table.items {
		@apply w-full dark:text-white;

		tbody tr {
			@apply even:bg-gray-50 dark:bg-surface-menu;

			td {
				@apply py-3 w-1/4;
			}
		}
	}
}
